.heikki-image
	background-image: url('/img/heikki-bg-2.jpg')
	background-size: cover
	background-position: center center
	color: white

.about
	.container.resume-wrapper.half .module-container
		@media(min-width:768px)
			width: 50%
			float: left
			padding: 1rem
			

.module
	margin: 1em 0
	padding: 1rem
	background: #fff
	position: relative
	top: 0
	transition: all ease 0.2s
	&:hover
		top: -4px
		box-shadow: 0 10px 26px rgba(0,0,0,0.1)
	h1,h2,h3,h4
		margin: .5rem 0
		padding: 0
	.organization
		font-size: 1.1rem
	.position
		font-size: 1.1rem
	.time
		font-size: 0.9rem
	.description
		font-size: 0.8rem
		line-height: 1.6
		margin-top: 0.75rem