.navbar
	background: red
	.container
		max-width: 100%
		margin: 0 auto
	.branding a
		font-size: 1.3rem
		display: inline-block
		width: auto
		padding: 1rem
		background: white
		text-transform: uppercase
		text-decoration: none




