.single
	
	.text
		max-width: 500px
		margin: 0 auto
		serif()
		padding: 8rem 1rem
		text-align: center
		h1
			serif()
			font-size: 1.5rem
	.animate
		text-align: center
		margin: 0
		padding: 0
		line-height: 0 !important
	img.portrait
		width: 1000px
		max-width: 100%
		display: block
		margin: 10vw auto
	.gif
		background: #50d0f6
		padding: 60px 1em
		margin: 0 auto
		text-align: center
	

	.nextitem
		margin-top: 8rem
		max-height: 400px
		overflow: hidden
		.nextitemname
			display: block
			text-align: center
			margin: 1rem
			a
				font-size: 1rem
				text-decoration: none
				color: lightness(color-dark, 60%)
				font-weight: 300
				transition: all ease 0.2s
		@media(max-width:767px)
			margin-bottom: -6px
		@media(min-width: 768px)
			position: relative
			margin-top: 8rem
			.nextitemname
				display: block
				position: absolute
				top: 190px
				right: 2rem
				margin: 0 auto
				a
					font-size: 1.3rem
					text-decoration: none
					color: color-dark
					background: white
					padding: 1em
					font-weight: 700
					transition: all ease 0.2s
					&:hover
						background: color-primary