.single
	
	.text
		max-width: 500px
		margin: 0 auto
		serif()
		padding: 8rem 1rem
		text-align: center
		h1
			serif()
			font-size: 1.5rem
	.animate
		text-align: center
	img.portrait
		width: 900px
		max-width: 100%
		margin: 6rem auto
	.gif
		background: #50d0f6
		padding: 60px 1em
		margin: 0 auto
		text-align: center
	

	.nextitem
		margin-top: 8rem
		max-height: 400px
		overflow: hidden
		position: relative
		.nextitemname
			display: block
			position: absolute
			top: 190px
			right: 2rem
			margin: 0 auto
			a
				font-size: 2rem
				text-decoration: none
				color: white
				font-weight: 700
				transition: all ease 0.2s
				&:hover
					opacity: .8